<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"> </h1>
<a th:href="@{/variables/string/El dia de mañana es miercoles/Esteban}">Mandar mensaje 1</a>
<a th:href="@{/variables/string/El dia de mañana es miercoles/Juan}">Mandar mensaje 2</a>
<a th:href="@{/variables/string/El dia de mañana es miercoles/Pepe}">Mandar mensaje 3</a>
<a th:href="@{/variables/string/El dia de mañana es miercoles/Rodri}">Mandar mensaje 3</a>
</body>
</html>

